@import url("https://fonts.googleapis.com/css?family=Comfortaa|Kite+One");
*{
    margin:10px;
    padding:0px;

}

img {
    width: 20em;
    height: 20em;
    max-width: 100%;
    float: left;
    margin: auto;
    margin-left: 230px;

}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

body:focus {
    outline: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(47, 70, 90);
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(202, 202, 202);
    text-align: center;
    padding: 14em 16em;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(121, 139, 156, 0.699);
}

.active {
    background-color: rgb(39, 185, 196);
}

input {
    float: none;
    margin: .5em auto;
    display: block;
    padding: 1em;
    color: #014657;
    font-family: "Comfortaa";
    font-weight: 300;
    font-size: .8rem;
    border-radius: 5%;

}

h4 {
    color: #014657;
    text-align: center;
    font-size: .6em;
    margin: 0;
}

button {
    background-color: rgb(170, 204, 212);
    border: none;
    color: rgb(4, 118, 146);
    padding: 1em 1em 1em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: none;
    margin: .3em auto;
    display: block;
    font-family: "Comfortaa";


}

button:hover {
    background-color: rgba(121, 139, 156, 0.699);
}

a:link {
    text-decoration: none;
}

p {
    font-family: "Kite One";
    font-size: 1.5em;
    color: #237286;
    text-align: center;
}

h1 {
    font-family: "Comfortaa";
    font-size: 3em;
    color: #677f85;
    text-align: left;
    margin-left: 150px;
}

h2 {
    font-family: "Comfortaa";
    font-size: 3em;
    color: #237286;
    text-align: center;

}

h3 {
    font-family: "Kite One";
    font-size: 1em;
    color: #1f839c;
    text-align: center;
    margin: auto;
}

#visita {
    position: left;
}


/*tabla*/

.table>tbody>tr:hover {
    background-color: rgb(84, 157, 179);
    cursor: pointer;

}

table {
    font-family: "Comfortaa";
    border-collapse: collapse;
    width: 100%;
    color: rgba(7, 69, 94, 0.979);
}

td,
th {
    border: .1em solid #ffffff;
    text-align: left;
    padding: .1em;
}

tr:nth-child(even) {
    background-color: #07507260;
}

#mySelect,
#empresa {
    cursor: pointer;
    float: none;
    margin: .5em auto;
    display: block;
    font-family: "Comfortaa";
    color: #237286;
    padding: .8em;
}

#mySelectComo {
    cursor: pointer;
    float: none;
    margin: .5em auto;
    display: block;
    font-family: "Comfortaa";
    color: #237286;
    padding: .8em;
}

body {
    margin: 0;
    font-family: "Comfortaa";
}

.topnav {
    overflow: hidden;
    background-color: rgb(170, 204, 212);
}

.topnav a {
    float: left;
    display: block;
    color: #02424b;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1em;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: rgb(255, 255, 255);
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*formulario de visita*/
.container {
    margin-right: 28em;
    margin-top: 2em;
}

/*/////////propiedades de camara/////////////*/

video {
    float: none;
    margin: 5em auto;
    display: block;

}

#whisky {
    margin-left: 35em;
    margin-top: -5em;
    width: 25em;
    height: 3.5em;
    display: block;
    color: #e9f2f3;
    background-color: #02424b;
}

#player {
    margin-left: 35em;
    margin-top: -25em;
    width: 25em;
    height: 20em;
    border-radius: 10% 10% 0% 0%;
}

#foto {
    width: 10em;
    height: 10em;
}

canvas {
    width: 13em;
    height: 10em;
    margin-right: 22em;
    margin: 4em;
    margin-top: -80%;
    border-radius: 5%;


}

/*notificacion*/
.time__noty {
    position: fixed;
    background: #218694;
    margin: 0;
    font-family: "Comfortaa";
    bottom: -100%;
    right: 10px;
    transition: all .2s;
    opacity: 0;
    text-align: center
}

.time__msg {
    color: #fff;
    margin: 0.5em 4em;
    display: flex;
    align-items: center;
    font-size: 1em;
}

.time__msg span {
    font-size: 2em;
    margin-right: 5px;
    display: block;

}

.time__msg:before {
    content: "\23f0";
    position: absolute;
    right: 10px;
    font-size: 1.5em;
    transition: all .2s;
    transform: rotate(0);
    animation: mover 2s linear infinite;
}

@keyframes fastup {
    5% {
        bottom: 110px;
        right: 10px;
        opacity: 1
    }

    10%,
    20%,
    95% {
        bottom: 100px;
        right: 10px;
        opacity: 1
    }

    15% {
        bottom: 105px;
        right: 10px;
        opacity: 1
    }

    100% {
        bottom: 100px;
        right: 10px;
        opacity: 0
    }
}

@keyframes mover {
    0% {
        transform: rotate(0);
    }

    5%,
    15%,
    25% {
        transform: rotate(30deg) scale(1.3);
    }

    10%,
    20%,
    30% {
        transform: rotate(-30deg) scale(1);
    }

    35%,
    80%,
    100% {
        transform: rotate(0);
    }
}
